@import "../../App.css";

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto 1fr;
  border: 1px black solid;
  /* height: 100px;
  width: 130px; */
}

.containerBtn {
  display: grid;
  height: max-content;
  width: max-content;
  justify-self: center;
  width: 60px;
  grid-row: 2 / 5;
}

.input {
  width: 58px;
  height: 20px;
  justify-self: center;
  border: 1px black solid;
  text-align: center;
  font-family: inherit;
  font-size: 1.5rem;
  padding-block: 0.3rem;
}

.title {
  grid-column: 1 / -1;
  font-weight: lighter;
  justify-self: center;
  align-self: self-start;
}

.current {
  grid-column: 2 / 3;
  font-weight: lighter;
  justify-self: center;
}
.max {
  grid-column: 4 / 5;
  font-weight: lighter;
  justify-self: center;
}

.hitPoints {
  font-weight: bold;
  font-size: 1.5rem;
  justify-self: center;
  align-self: center;
}
