@import "../../../App.css";

.containerPage {
  display: grid;
}

.abilityScores {
  justify-self: center;
}

.savingThrows {
  justify-self: center;
}

.containerHeader {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;

  border-bottom: 1px black solid;
  margin-bottom: 0.5rem;
}

.characterPortrait {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1px black solid;
  margin: 0.5rem;
  place-self: center;
}

.containerCharacterInfo {
  display: grid;
  height: 80px;
  padding-left: 0.5rem;
  align-self: center;
}

.characterName {
  grid-column: 1/-1;
  font-weight: lighter;
  justify-self: start;
  align-self: end;
}

.characterInfo {
  align-self: start;
}

@media (min-width: 650px) {
  .containerHeader {
    padding-inline: 1rem;
  }
}
